@model Job.WebMvc.Models.GL.GLIndexModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SpaceLayout.cshtml";
}
<div>
    <table class="w3-table">
        <thead>
            <tr><th>Codice</th><th>Descrizione</th><th>E/P</th><th>T/A</th><th>C/R</th></tr>
        </thead>
        <tbody>
            @foreach (var m in Model.GLAccounts)
            {
                <tr>
                @if (m.TotaleAnalitico == "A")
                {
                    <td>
                        @Html.Raw("<a href=\"" + Url.Action("ShowAccount", "GL") + "?filterAccountCode=" + m.GLAccountCode + "\">" + m.GLAccountCode + "</a>")
                    </td>
                }
                else
                {
                    <td>
                        @Html.Raw(m.GLAccountCode)
                    </td>
                }
                    <td>
                        @Html.Raw(m.Name)
                    </td>
                    <td>
                        @Html.Raw(m.EconomicoPatrimoniale)
                    </td>
                    <td>
                        @Html.Raw(m.TotaleAnalitico)
                    </td>
                    <td>
                        @Html.Raw(m.CostoRicavo)
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
