@model Job.WebMvc.Models.GL.GLIndexModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SpaceLayout.cshtml";
}
<div>
    @foreach (var m in Model.GLAccounts)
    {
        <div>
            @if (m.SubType.Trim() == "C" || m.SubType.Trim() == "R" || m.SubType.Trim() == "CS")
            {
                <div style="width:100px;display:inline-block;">@Html.Raw("<a href=\"" + Url.Action("ShowAccount", "GL") + "?filterAccountCode=" + m.GLAccountCode + "\">" + m.GLAccountCode + "</a>")</div><div style="width:400px;display:inline-block;padding-left:@Html.Raw(Model.Indent(m))px;@Html.Raw((m.SubType == "TT" ? "font-weight:600;" : string.Empty))">@Html.Raw(m.Name)</div><div style="display:inline-block;padding-left:12px;">@Html.Raw(m.Type)</div>
            }
            else
            {
                <div style="width:100px;display:inline-block;">@Html.Raw(m.GLAccountCode)</div><div style="width:400px;display:inline-block;padding-left:@Html.Raw(Model.Indent(m))px;@Html.Raw((m.SubType == "TT" ? "font-weight:600;" : string.Empty))">@Html.Raw(m.Name)</div><div style="display:inline-block;padding-left:12px;">@Html.Raw(m.Type)</div>
            }
        </div>
    }
</div>
