@model Job.WebMvc.Models.CustomerIndexModel
@{
    ViewBag.Title = "Clienti";
    Layout = "~/Views/Shared/_SpaceLayout.cshtml";
}
<ol class="breadcrumb">
    <li>Home</li>
    <li class="active">Elenco clienti</li>
</ol>
<div class="container-fluid">
    <form method="get" id="filterForm" name="filterForm">
        <div class="form-inline">
            Nome: <input id="filterFullName" name="filterFullName" type="text" class="form-control" value="@Html.Raw(Model.FilterFullName)" style="width:320px;"/> Stato: <input type="checkbox" id="filterActiveState" name="filterActiveState" class="form-control" @Html.Raw(Model.FilterIsActive ? "checked" : string.Empty) /> Attivi <button id="filterButton" name="filterButton" class="btn btn-default" onclick="document.getElementById('filterForm').submit();"><span class="glyphicon glyphicon-filter" aria-hidden="true"></span> Filtra</button>
        </div>
    </form>
    <ol class="list-inline margin-top-06">
        <li><button type="button" class="btn btn-xs" data-id="-1" onclick="edit_customer(this);"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nuovo cliente ...</button></li>
    </ol>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr><th rowspan="2" colspan="2" style="text-align:center;">Id</th><th rowspan="2" style="text-align:left;">Nome</th><th rowspan="2">Partita IVA</th><th>Business group</th><th>City</th></tr>
                </thead>
                <tbody>
                    @foreach (var c in Model.CustomerList)
                    {
                        <tr><td style="width:32px;"><button type="button" class="btn-xs btn-default" data-id="@Html.Raw(c.CustomerId.ToString())" onclick="edit_customer(this);"><span class="glyphicon glyphicon-edit"></span></button></td><td style="width:64px;text-align:right;padding-left:12px;padding-right:8px;@Html.Raw(c.IsActive ? string.Empty : "color:#FF0000;font-width:800;")">@Html.Raw(c.CustomerId.ToString().PadLeft(6,'0'))</td><td>@Html.Raw(c.FullName)</td><td>@Html.Raw(c.VATNumber)</td><td>@Html.Raw(c.CustomerBusinessGroupId)</td><td>@Html.Raw(c.PostalCode + ' ' + c.City + ' ' + c.Province)</td></tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section sectionScripts {
    <script type="text/javascript">
        $(function () {
            $('#filterFullName').val(null);
            $('#filterActiveState').val("1");
            var fn = zzsGetUrlVar('filterFullName');
            var fs = zzsGetUrlVar('filterActiveState');
            if (fn != null) {
                if (fn.trim() != '') {
                    $('#filterFullName').val(fn);
                } 
            }
            if (fs != null) {
                if (fs.trim() != '') {
                    $('#filterActiveState').val(fs);
                }
            }
        });
        function edit_customer(btn) {
            var id = btn.getAttribute("data-id");
            if (id != null) {
                if (id.trim() == '') {
                    id = null;
                }
            }
            if (id != null) {
                $('#modal-placeholder').load('@Url.Content("~/Customer/ModalEditCustomer")/' + id);
            } else {
                $('#modal-placeholder').load('@Url.Content("~/Customer/ModalEditCustomer")');
            }
        }
    </script>
}


