@model Job.WebMvc.Models.TravelExpense.TravelExpenseIndexModel
@{
    ViewBag.Title = "Rimborsi spese";
    Layout = "~/Views/Shared/_SpaceLayout.cshtml";
}
@section sectionHeader {
    <script type="text/javascript">
        $(function () {
            $('#filterMonth').val(@Html.Raw(Model.TEFilterMonth));
            $('#filterYear').val(@Html.Raw(Model.TEFilterYear));
            filterTravelExpenseList();
        });
        function edit_travelexpense(id) {
            var u = '@Url.Content("~/TravelExpense/TravelExpenseEditHeaderModal")';
            var p = $('#filterPeople').val();
            var m = $('#filterMonth').val();
            var y = $('#filterYear').val();
            var s = $('#filterStatus').val();
            var up = '?peopleId=' + p + '&year=' + y + '&month=' + m + '&status=' + s;
            if (id == 'NEW') {
                $('#modal-placeholder').load(u + '/' + up);
            } else {
                $('#modal-placeholder').load(u + '/' + id + up);
            }
        }
        function filterTravelExpenseList() {
            var p = $('#filterPeople').val();
            var m = $('#filterMonth').val();
            var y = $('#filterYear').val();
            var s = $('#filterStatus').val();
            var sendData = new Object();
            sendData.Operation = "Filter";
            sendData.FilterPeopleId = p;
            sendData.FilterMonth = m;
            sendData.FilterYear = y;
            sendData.FilterStatus = s;
            $.ajax({
                method: "POST",
                url: '@Url.Content("~/api/TravelExpenseSvc")',
                data: JSON.stringify(sendData),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                error: function (response) {
                    alert(response.responseText);
                },
                success: function (result) {
                    if (result.ResultStatus == "OK") {
                        if (result.Data != null) {
                            var dd = JSON.parse(result.Data);
                            if (dd.length > 0) {
                                displayTravelExpenseLine(dd)
                            } else {
                                $("#tbodyTravelExpenseList").empty();
                                $("#tbodyTravelExpenseList").append('<tr><td colspan="5">Nessun valore trovato</td></tr>');
                            }
                        } else {
                            $("#tbodyTravelExpenseList").empty();
                            $("#tbodyTravelExpenseList").append('<tr><td colspan="5">Nessun valore trovato</td></tr>');
                        }
                    } else {
                        alert(result.Error);
                        alert(result.ErrorMessage)
                    }
                }
            });
        }
        function closemonth_travelexpense() {
            var peopleId =  $('#filterPeople').val();
            var y = $('#filterYear').val();
            var m = $('#filterMonth').val();
            var id = y.toString();
            if (m < 10) {
                id += '0' + m.toString() + peopleId.toString();
            } else {
                id += m.toString() + peopleId.toString();
            }

            window.location.assign('@Url.Action("PostTravelExpenses", "TravelExpense")/' + id);

        }
        function displayTravelExpenseLine(teLine) {

            var baseEditUrl = '@Url.Action("Edit", "TravelExpense")' + '/';
            var baseDisplayUrl = '@Url.Action("TravelExpense", "DisplayDocument")' + '/';
            $("#tbodyTravelExpenseList").empty();
            teLine.sort(function (o1, o2) {
                var od1 = new Date(o1.Date);
                var od2 = new Date(o2.Date);
                if (od1 < od2) return 1;
                else if (od1 > od2) return -1;
                else return 0;
            });
            var urlFilterParam = '?tefm=' + $('#filterMonth').val();
            urlFilterParam += '&tefy=' + $('#filterYear').val();
            urlFilterParam += '&tefp=' + $('#filterPeople').val();
            urlFilterParam += '&tes=' +  $('#filterStatus').val();
            var editUrl = '';
            for (var i = 0; i < teLine.length; i++) {
                var s = Number.parseInt(teLine[i].Status);
                if ( s == 0) {
                    editUrl = baseEditUrl + teLine[i].TravelExpenseCode + urlFilterParam;
                } else {
                    editUrl = baseDisplayUrl + teLine[i].TravelExpenseCode + urlFilterParam;
                }
                var r = '<tr style="margin-top:6px;">';
                r += '<td><a href="' + editUrl + '">' + teLine[i].TravelExpenseCode + '</a></td>';
                if (s == 0) {
                    r += '<td style="padding-left:12px;">BOZZA</td>';
                } else {
                    r += '<td style="padding-left:12px;">REGISTRATA</td>';
                }
                if (teLine[i].Date != null) {
                    if (teLine[i].Date != 'null') {
                        r += '<td style="padding-left:12px;">' + zzsDateToItalianString(new Date(teLine[i].Date)) + '</td>';
                    } else {
                        r += '<td></td>';
                    }
                } else {
                    r += '<td></td>';
                }
                r += '<td style="padding-left:12px;">' + teLine[i].FirstName + " " + teLine[i].LastName + '</td>';
                if (teLine[i].BeginDate != null) {
                    if (teLine[i].BeginDate != 'null') {
                        r += '<td style="padding-left:12px;">' + zzsDateToItalianString(new Date(teLine[i].BeginDate)) + '</td>';
                    } else {
                        r += '<td></td>';
                    }
                } else {
                    r += '<td></td>';
                }
                if (teLine[i].EndDate != null) {
                    if (teLine[i].EndDate != 'null') {
                        r += '<td style="padding-left:12px;">' + zzsDateToItalianString(new Date(teLine[i].EndDate)) + '</td>';
                    } else {
                        r += '<td></td>';
                    }
                } else {
                    r += '<td></td>';
                }

                if (teLine[i].Total != null) {
                    r += '<td style="padding-left:12px;text-align:right;"> € ' + parseFloat(teLine[i].Total).toFixed(2) + '</td>';
                } else {
                    r += '<td style="padding-left:12px;text-align:right;"> € 0,00</td>';
                }
                r += '</tr>';
                if ((teLine[i].Annotation != null) && (teLine[i].Annotation != 'undefined')) {
                    r += '<tr><td></td><td></td><td colspan="3" style="padding-left:12px;font-size:80%;">' + teLine[i].Annotation + '</td><td></td></tr>';
                }
                $("#tbodyTravelExpenseList").append(r);
            }
        }
    </script>
}
<div class="container-fluid">
    <div class="row">
        <ol class="breadcrumb">
            <li>@Html.ActionLink("[Home]", "Index", "Home")</li>
            <li class="active">Elenco rimborsi spese</li>
        </ol>
        <div style="margin-top:6px;">
            <fieldset>
                Rimborsi spese del mese di <select id="filterMonth">
                    <option value="99">Intero anno</option>
                    <option value="1">Gennaio</option>
                    <option value="2">Febbraio</option>
                    <option value="3">Marzo</option>
                    <option value="4">Aprile</option>
                    <option value="5">Maggio</option>
                    <option value="6">Giugno</option>
                    <option value="7">Luglio</option>
                    <option value="8">Agosto</option>
                    <option value="9">Settembre</option>
                    <option value="10">Ottobre</option>
                    <option value="11">Novembre</option>
                    <option value="12">Dicembre</option>
                </select> <input id="filterYear" value="" style="height:21px;width:60px;line-height:inherit;padding: 0 0 0 0;margin: 0 0 0 0;"/> di @Html.DropDownList("filterPeople", Model.DDLPeople) <select id="filterStatus" name="filterStatus"><option value="0">Bozza</option><option value="1">Registrata</option><option value="999">Tutte</option></select> <button type="button" class="btn btn-xs" onclick="javascript: filterTravelExpenseList();"><span class="glyphicon glyphicon-filter" aria-hidden="true"></span> Filtra</button>
            </fieldset>
        </div>
        <ol class="list-inline">
            <li><button type="button" class="btn btn-xs" onclick="edit_travelexpense('NEW');"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nuovo rimborso...</button></li>
            <li></li>
            <li><button type="button" class="btn btn-xs" data-id="-1" onclick="closemonth_travelexpense();"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Chiusura del mese!</button></li>
        </ol>
        <div style="margin-top:6px;">
            <table>
                <thead>
                    <tr><th>Protocollo</th><th style="padding-left:12px;">Status</th><th style="padding-left:12px;">Data</th><th style="padding-left:12px;">Persona</th><th style="padding-left:12px;">Dal</th><th style="padding-left:12px;">Al</th><th style="padding-left:12px;">Importo</th></tr>
                </thead>
                <tbody id="tbodyTravelExpenseList"></tbody>
            </table>
        </div>
    </div>
</div>
