@model Job.WebMvc.Models.Jobs.JobsEditModel
@{
    Layout = "~/Views/Shared/_SpaceLayout.cshtml";
}
<div id="dialogEditJobCost" title="Crea/modifica linea nota spese">
    <input type="hidden" id="dialogEditJobCostId" name="dialogEditJobCostId" />
    <input type="hidden" value="@Html.Raw(Model.Job.JobId)" id="dialogEditJobCostJobId" name="dialogEditJobCostJobId" />
    <span class="ui-helper-hidden-accessible"><input type="text" />Prevents autofocus from opening start datepicker on dialog load</span>
    Data: <input type="date" id="dialogEditJobCostDate" name="dialogEditJobCostDate" /><br />
    Motivo : @Html.DropDownList("dialogEditJobCostGLAccountCode", Model.DDLJobCostAccount)<br />
    Note: <textarea id="dialogEditJobCostNote" name="dialogEditJobCostNote"></textarea>
</div>
<ol class="breadcrumb">
    <li>Home</li>
    <li>@Html.ActionLink("Elenco commesse","Index")</li>
    <li class="active">Codice commessa</li>
</ol>
<form method="post">
    <div style="line-height:32px;">
        <div style="float:left;width:100px;">Codice :</div><div>@Html.Raw(Model.Job.Code)@Html.Hidden("jobId", Model.Job.JobId)@Html.Hidden("jobCode", Model.Job.Code)</div>
    </div>
    <div style="line-height:32px;">
        <div style="float:left;width:100px;">Cliente :</div><div>@Html.DropDownList("jobCustomerId", Model.DDLCustomers, new { @style = "height:28px;width:320px;" })</div>
    </div>
    <div style="line-height:32px;">
        <div style="float:left;width:100px;">Descrizione :</div><div>@Html.TextBox("jobDescription", Model.Job.Description, new { @style = "height:28px;width:320px;padding-left:4px;" })</div>
    </div>
    <div style="line-height:32px;">
        <div style="float:left;width:100px;">Status :</div><div>@Html.DropDownList("jobStatus", Model.DDLStatus, new { @style = "height:28px;width:320px;" })</div>
    </div>
    <div style="text-align:center;width:480px;">
        PREVISIONE
    </div>
    <div style="line-height:32px;border-top:2px solid #000000;width:480px;">
        <div style="float:left;width:100px;">Ore</div><div style="float:left;width:120px;">Costi</div><div>Fatturato</div>
    </div>
    <div style="line-height:32px;">
        <div style="float:left;width:100px;">@Html.TextBox("jobExpectedWorkHours", Model.Job.ExpectedWorkHours, new { @style = "width:80px;text-align:right;padding-right:4px;" })</div><div style="float:left;width:120px;">&#8364; @Html.TextBox("jobExpectedCost", string.Format("{0:f2}", Model.Job.ExpectedCost), new { @style = "width:80px;text-align:right;padding-right:4px;" })</div><div>&#8364; @Html.TextBox("jobExpectedIncome", string.Format("{0:f2}", Model.Job.ExpectedIncome), new { @style = "width:80px;text-align:right;padding-right:4px;" })</div>
    </div>
    <div style="margin-top:8px;margin-bottom:24px;">
        <button type="submit" class="btn btn-xs"><span class="glyphicon glyphicon-save" aria-hidden="true"></span> Salva...</button>
    </div>
</form>
<div style="text-align:center;width:480px;border-bottom:1px solid #000000;padding: 4px;">BILANCIO COMMESSA</div>
<div style="line-height:32px;width:480px;">
    <div style="float:left;width:200px;">ORE LAVORATE</div><div style="padding-right:12px;text-align:right;">@Html.Raw(Model.totalWorkedHours.ToString("f2"))</div>
</div>
<div style="line-height:32px;width:480px;">
    <div style="float:left;width:200px;">SPESE DI TRASFERTA</div><div style="padding-right:12px;text-align:right;">@Html.Raw(Model.totalTravelExpenseCost.ToString("c"))</div>
</div>
<div style="line-height:32px;width:480px;">
    <div style="float:left;width:200px;">ALTRI COSTI</div><div style="padding-right:12px;text-align:right;">@Html.Raw(Model.totalOtherCost.ToString("c"))</div>
</div>


<div style="text-align:center;width:480px;border-bottom:1px solid #000000;padding: 4px;">ORE LAVORATE</div>
<table>
    <thead>
        <tr><td>Anno/Mese</td><td style="padding-left:16px;">Persona</td><td style="padding-left:16px;">Ore</td><td  style="padding-left:16px;">Dove</td></tr>
    </thead>
    <tbody>
        @foreach (var w in Model.JobWorkedHours )
        {
            <tr><td>@Html.Raw(string.Format("{0}/{1}", w.Year,w.Month))</td><td style="padding-left:16px;">@Html.Raw(string.Format("{0}", w.PeopleId))</td><td style="padding-left:16px;">@Html.Raw(w.WorkedHour)</td><td style="padding-left:16px;">@Html.Raw(w.TaskWhere)</td></tr>
        }
    </tbody>
</table>
<div style="text-align:center;width:480px;border-bottom:1px solid #000000;padding: 4px;">SPESE DI TRASFERTA</div>
<table>
    <thead>
        <tr><td>Data</td><td style="padding-left:16px;">Persona</td><td style="padding-left:16px;">Importo</td></tr>
    </thead>
    <tbody>
        @foreach (var t in Model.JobTravelExpenses)
        {
            <tr><td>@Html.Raw(t.Date.Value.ToString("d"))</td><td style="padding-left:16px;">@Html.Raw(string.Format("{0} {1}",t.FirstName, t.LastName))</td><td style="padding-left:16px;">@Html.Raw(t.Amount.Value.ToString("C"))</td></tr>
        }
    </tbody>
</table>
<div style="text-align:center;width:480px;border-bottom:1px solid #000000;padding: 4px;">ALTRI COSTI</div>
<div style="margin-top:8px;margin-bottom:24px;">
    <button type="submit" class="btn btn-xs" onclick="dialogEditJobCost_Edit(-1);"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Aggiungi...</button>
</div>
@foreach (var c in Model.Job.JobCosts)
{
<div style="width:480px;padding: 4px;">
    <div style="float:left;width:320px;"><button type="submit" class="btn btn-xs" onclick="dialogEditJobCost_Edit('@Html.Raw(c.JobCostId)');"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button> @Html.Raw(string.Format("[{0}] {1}", c.GLAccount.GLAccountCode, c.GLAccount.Name))</div><div>@Html.Raw(c.Amount.ToString("c"))</div>
</div>
}
@section sectionScripts {
<script type="text/javascript">
 $(function () {
        $('#dialogEditJobCost').dialog({
            autoOpen: false,
            width: 800,
            resizable: false,
            title: 'Aggiungi/Modifica costo commessa',
            modal: true,
            buttons: {
                "Salva": dialogEditJobCost_Save,
                "Annulla": dialogEditJobCost_Cancel
            }
        });
 }); // Function $
 function dialogEditJobCost_Edit(id)
 {
     $('#dialogEditJobCostId').val(id);
     $('#dialogEditJobCostJobJobId').val(@Html.Raw(Model.Job.JobId));
     if (parseInt(id) < 1) {

     } else {

     }
     $('#dialogEditJobCost').dialog('open');
 }
 function dialogEditJobCost_Save() {

 }
 function dialogEditJobCost_Cancel() {
     $('#dialogEditJobCostId').val(null);
     $('#dialogEditJobCostJobJobId').val(null);
     $('#dialogEditJobCost').dialog('close');
 }
</script>
}