@model Job.WebMvc.Models.ModalEditJobModel
@{
    Layout = null;
}
<script type="text/javascript">
    $(function () {
        $('#dialogEditJobCustomer').select2({ width: '100%' });
        $('#dialogEditJob').modal({
            backdrop: true,
            keyboard: true,
            show: true
        });
        $('#dialogEditJob').on('hidden.bs.modal', function () {
            $('#modal-placeholder').empty();
        })
    });
    function modal_edit_job_save() {
        var sendData = new Object();
        sendData.JobId = $('#dialogEditJobJobId').val();
        sendData.CustomerId = $('#dialogEditJobCustomer').val();
        if (sendData.CustomerId < 1) {
            alert("Non correre...seleziona il cliente!");
            return;
        }
        sendData.Status = $('#dialogEditJobStatus').val();
        sendData.Year = $('#dialogEdiJobYear').val();
        sendData.Description = $('#dialogEdiJobDescription').val();
        $.ajax({
            method: "POST",
            url: '@Url.Action("ModalEditJob", "Jobs")',
            data: JSON.stringify(sendData),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            error: function (response) {
                alert(response.responseText);
            },
            success: function (result) {
                if ((result.ErrorResult == "OK") || (result.ErrorResult == undefined)) {
                    $('#dialogEditJob').modal('hide');
                    window.location.reload(false);
                } else {
                    alert(result.ErrorMessage);
                }
            }
        });
    }
</script>
<style>
    .row-margin-6top {
        margin-top: 6px;
    }
    .myTextBox {
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.4;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;   
    }
</style>
<div id="dialogEditJob" class="modal fade" role="dialog" aria-labelledby="modal_edit_job" aria-hidden="true">
    <form class="modal-content">
        <div class="modal-header">
            Creazione/Modifica commessa
        </div>
        <div class="modal-body">
            <input type="hidden" value="@Html.Raw(Model.Job.JobId)" id="dialogEditJobJobId" name="dialogEditJobJobId" />
            <div class="row">
                <div class="col-md-1">
                    Cliente:
                </div>
                <div class="col-md-6">@Html.DropDownList("dialogEditJobCustomer", Model.DDLCustomerList)</div>
            </div>
            <div class="row row-margin-6top">
                <div class="col-md-1">
                    Commessa:
                </div>
                <div class="col-md-6">
                    @if (Model.Job.JobId > 0) { 
                        @Html.Raw(Model.Job.Code)
                    }
                    else
                    { 
                        @Html.TextBox("dialogEdiJobYear", Model.Job.Year, new { @class = "myTextBox", @style = "width:80px;" })
                    } 
                    @Html.TextBox("dialogEdiJobDescription", Model.Job.Description, new { @class = "myTextBox", @style = "width:85%;", @placeholder = "Descrizione" })
                </div>
            </div>
            <div class="row row-margin-6top">
                <div class="col-md-1">
                    Stato:
                </div>
                <div class="col-md-6">@Html.DropDownList("dialogEditJobStatus", Model.DDLStatusList, new { @class = "myTextBox" })</div>
            </div>
        <div class="modal-footer">
            <div style="float:left;">
                <div class="btn-group">
                    <button class="btn btn-warning" type="button" onclick="modal_edit_jobworkjournal_delete();">
                        <i class=" fa fa-times">
                        </i> Delete
                    </button>
                </div>
            </div>
            <div class="btn-group">
                <button class="btn btn-danger" type="button" data-dismiss="modal">
                    <i class="fa fa-times"></i> Annulla
                </button>
                <button class="btn btn-success" id="dialogEditJob_confirm" type="button" onclick="modal_edit_job_save();">
                    <i class="fa fa-check"></i> Salva
                </button>
            </div>
        </div>
    </form>
</div>