@model JobManagement.WebMvc.Models.Home.HomeIndexModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SpaceLayout.cshtml";
}
<style>
    .tdNomeGiorno {
        border-bottom: 2px solid #ddd;        
        padding: 8px;
        line-height: 1.4285;
        vertical-align: bottom;
        border-top: 1px solid #ddd;
        width: 110px;
    }
    .tableOreGiornaliere {
        border-collapse: separate;
        border-spacing: 4px;
    }
    .tdGiornoOre {
        padding-right: 6px;
        vertical-align: top;
    }
    .margin-top-06 {
        margin-top: 6px;
    }
</style>

<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="active">Home</li>
    </ol>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <h2><span>@Html.Raw(Model.MeseAnno)</span> <span style="float:right;">@Html.Raw(Model.loggedPeople.FirstName + " " + Model.loggedPeople.LastName)</span></h2>
        </div>
    </div>
    <div class="row margin-top-06">
        <div class="col-xs-10 col-xs-offset-1">
            <table class="tableOreGiornaliere">
                <tr><td class="text-center tdNomeGiorno">LUNEDI</td><td class="text-center tdNomeGiorno">MARTEDI</td><td class="text-center tdNomeGiorno">MERCOLEDI</td><td class="text-center tdNomeGiorno">GIOVEDI</td><td class="text-center tdNomeGiorno">VENERDI</td><td class="text-center tdNomeGiorno">SABATO</td><td class="text-center tdNomeGiorno">DOMENICA</td></tr>
                @foreach (var s in Model.LavoroDelMese)
                {
                    <tr><td class="text-center" @Html.Raw((s.Lunedi == null ? string.Empty : "style=\"background-color:#84ed96;\" "))>@Html.Raw((s.Lunedi == null ? string.Empty : s.Lunedi.Numero.ToString()))</td><td class="text-center" @Html.Raw((s.Martedi == null ? string.Empty : "style=\"background-color:#84ed96;\" "))>@Html.Raw((s.Martedi == null ? string.Empty : s.Martedi.Numero.ToString()))</td><td class="text-center" @Html.Raw((s.Mercoledi == null ? string.Empty : "style=\"background-color:#84ed96;\" "))>@Html.Raw((s.Mercoledi == null ? string.Empty : s.Mercoledi.Numero.ToString()))</td><td class="text-center" @Html.Raw((s.Giovedi == null ? string.Empty : "style=\"background-color:#84ed96;\" "))>@Html.Raw((s.Giovedi == null ? string.Empty : s.Giovedi.Numero.ToString()))</td><td class="text-center" @Html.Raw((s.Venerdi == null ? string.Empty : "style=\"background-color:#84ed96;\" "))>@Html.Raw((s.Venerdi == null ? string.Empty : s.Venerdi.Numero.ToString()))</td><td class="text-center" @Html.Raw((s.Sabato == null ? string.Empty : "style=\"background-color:#00008B;color:#FFA500;\" "))>@Html.Raw((s.Sabato == null ? string.Empty :  s.Sabato.Numero.ToString()))</td><td class="text-center" @Html.Raw((s.Domenica == null ? string.Empty : "style=\"background-color:#FFA500;color:#00008B;\" "))>@Html.Raw((s.Domenica == null ? string.Empty : s.Domenica.Numero.ToString()))</td></tr>
                    <tr>
                        <td class="text-right tdGiornoOre">@Html.Raw((s.Lunedi == null ? string.Empty : (s.Lunedi.Ore == 0 ? string.Empty : Html.ActionLink(string.Format("{0:F2}", s.Lunedi.Ore), "WorkLogList", "Jobs", new { filterResourceId = Model.ResourceId, filterBeginDate = string.Format("{0:yyyy-MM-dd}", s.Lunedi.Data), filterEndDate = string.Format("{0:yyyy-MM-dd}", s.Lunedi.Data) }, null).ToHtmlString())))<br />@Html.Raw((s.Lunedi == null ? string.Empty : s.Lunedi.OrdinarioString))<br />@Html.Raw((s.Lunedi == null ? string.Empty : s.Lunedi.StraordinarioString))</td>
                        <td class="text-right tdGiornoOre">@Html.Raw((s.Martedi == null ? string.Empty : (s.Martedi.Ore == 0 ? string.Empty : Html.ActionLink(string.Format("{0:F2}", s.Martedi.Ore), "WorkLogList", "Jobs", new { filterResourceId = Model.ResourceId, filterBeginDate = string.Format("{0:yyyy-MM-dd}", s.Martedi.Data), filterEndDate = string.Format("{0:yyyy-MM-dd}", s.Martedi.Data) }, null).ToHtmlString()))) <br />@Html.Raw((s.Martedi == null ? string.Empty : s.Martedi.OrdinarioString))<br />@Html.Raw((s.Martedi == null ? string.Empty : s.Martedi.StraordinarioString))</td>
                        <td class="text-right tdGiornoOre">@Html.Raw((s.Mercoledi == null ? string.Empty : (s.Mercoledi.Ore == 0 ? string.Empty : Html.ActionLink(string.Format("{0:F2}", s.Mercoledi.Ore), "WorkLogList", "Jobs", new { filterResourceId = Model.ResourceId, filterBeginDate = string.Format("{0:yyyy-MM-dd}", s.Mercoledi.Data), filterEndDate = string.Format("{0:yyyy-MM-dd}", s.Mercoledi.Data) }, null).ToHtmlString())))<br />@Html.Raw((s.Mercoledi == null ? string.Empty : s.Mercoledi.OrdinarioString))<br />@Html.Raw((s.Mercoledi == null ? string.Empty : s.Mercoledi.StraordinarioString))</td>
                        <td class="text-right tdGiornoOre">@Html.Raw((s.Giovedi == null ? string.Empty : (s.Giovedi.Ore == 0 ? string.Empty : Html.ActionLink(string.Format("{0:F2}", s.Giovedi.Ore), "WorkLogList", "Jobs", new { filterResourceId = Model.ResourceId, filterBeginDate = string.Format("{0:yyyy-MM-dd}", s.Giovedi.Data), filterEndDate = string.Format("{0:yyyy-MM-dd}", s.Giovedi.Data) }, null).ToHtmlString())))<br />@Html.Raw((s.Giovedi == null ? string.Empty : s.Giovedi.OrdinarioString))<br />@Html.Raw((s.Giovedi == null ? string.Empty : s.Giovedi.StraordinarioString))</td>
                        <td class="text-right tdGiornoOre">@Html.Raw((s.Venerdi == null ? string.Empty : (s.Venerdi.Ore == 0 ? string.Empty : Html.ActionLink(string.Format("{0:F2}", s.Venerdi.Ore), "WorkLogList", "Jobs", new { filterResourceId = Model.ResourceId, filterBeginDate = string.Format("{0:yyyy-MM-dd}", s.Venerdi.Data), filterEndDate = string.Format("{0:yyyy-MM-dd}", s.Venerdi.Data) }, null).ToHtmlString())))<br />@Html.Raw((s.Venerdi == null ? string.Empty : s.Venerdi.OrdinarioString))<br />@Html.Raw((s.Venerdi == null ? string.Empty : s.Venerdi.StraordinarioString))</td>
                        <td class="text-right tdGiornoOre">@Html.Raw((s.Sabato == null ? string.Empty : (s.Sabato.Ore == 0 ? string.Empty : Html.ActionLink(string.Format("{0:F2}", s.Sabato.Ore), "WorkLogList", "Jobs", new { filterResourceId = Model.ResourceId, filterBeginDate = string.Format("{0:yyyy-MM-dd}", s.Sabato.Data), filterEndDate = string.Format("{0:yyyy-MM-dd}", s.Sabato.Data) }, null).ToHtmlString())))<br />@Html.Raw((s.Sabato == null ? string.Empty : s.Sabato.OrdinarioString))<br />@Html.Raw((s.Sabato == null ? string.Empty : s.Sabato.StraordinarioString))</td>
                        <td class="text-right tdGiornoOre">@Html.Raw((s.Domenica == null ? string.Empty : (s.Domenica.Ore == 0 ? string.Empty : Html.ActionLink(string.Format("{0:F2}", s.Domenica.Ore), "WorkLogList", "Jobs", new { filterResourceId = Model.ResourceId, filterBeginDate = string.Format("{0:yyyy-MM-dd}", s.Domenica.Data), filterEndDate = string.Format("{0:yyyy-MM-dd}", s.Domenica.Data) }, null).ToHtmlString())))<br />@Html.Raw((s.Domenica == null ? string.Empty : s.Domenica.OrdinarioString))<br />@Html.Raw((s.Domenica == null ? string.Empty : s.Domenica.StraordinarioString))</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>

