@model JobManagement.WebMvc.Models.Purchases.EditPurchaseModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_SpaceLayout.cshtml";
}
@section sectionHeader {
<script type="text/javascript">
    $(function () {
        $("#formAccordion").accordion({
            heightStyle: "content"
        });
    });
</script>
<style type="text/css">
    .formLayout {
        background-color: #f3f3f3;
        border: solid 1px #a1a1a1;
        padding: 10px;
    }

    .formLayout label, .formLayout input {
        display: block;
        float: left;
        margin-bottom: 10px;
    }

    .formLayout label {
        text-align: right;
        padding-right: 20px;
        width: 140px;
        line-height:34px;
    }

    br {
        clear: left;
    }
    .myTextBox {
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    }
</style>
}
<div id="formAccordion">
    <h3>Dati documento</h3>
    <div>
        <div class="formLayout">
            <label>Acquistato da:</label>
            @Html.TextBox("dialogPurchaseVendorName",null,new { @placeholder="Nome", @class = "myTextBox" })
            <br />
            <label>&nbsp;</label>
            @Html.TextBox("dialogPurchaseVendorCity", null, new { @placeholder = "Città", @class = "myTextBox" })
            <br />
            <label>&nbsp;</label>
            @Html.TextBox("dialogPurchaseVendorCountry", null, new { @placeholder = "Nazione", @class = "myTextBox" })
            <br />
            <label>Dati documento:</label>
             @Html.TextBox("dialogPurchaseDocNumber", null, new { @placeholder = "Numero", @class = "myTextBox" }) @Html.TextBox("dialogPurchaseDocDate")@Html.DropDownList("dialogPurchaseDocType", Model.DDLPurchaseDocumentTypeList)
            <br />
            <label>Importi</label>
            @Html.TextBox("dialogPurchaseDocAmount", null, new { @placeholder = "Imponibile", @class = "myTextBox" }) @Html.TextBox("dialogPurchaseDocAmountNoVat", null, new { @placeholder = "Esente", @class = "myTextBox" }) @Html.TextBox("dialogPurchaseDocVat", null, new { @placeholder = "IVA", @class = "myTextBox" }) @Html.TextBox("dialogPurchaseDocTotal", null, new { @placeholder = "Totale", @class = "myTextBox" })
            <br />
            <label>Pagamento</label>
            @Html.TextBox("dialogPurchasePaiedDate", null, new { @placeholder = "Data", @class = "myTextBox" }) @Html.DropDownList("dialogPurchasePaiedBy",Model.DDLPaiedByList)
            <br />
            <label>Categoria</label>
            @Html.DropDownList("dialogPurchaseCategory",Model.DDLCategoryList)
            <br />
            <label>Note</label>
            @Html.TextBox("dialogPurchaseNote", null, new { @placeholder = "Numero", @class = "myTextBox" })
            <br />
        </div>
        <div style="float:left;">
            <div class="btn-group">
                <button class="btn btn-warning" type="button" onclick="modal_purchase_delete();">
                    <i class=" fa fa-times">
                    </i> Delete
                </button>
            </div>
        </div>
        <div style="float:right;">
            <div class="btn-group">
                <button class="btn btn-danger" type="button" data-dismiss="modal">
                    <i class="fa fa-times"></i> Annulla
                </button>
                <button class="btn btn-success" id="dialogEditJob_confirm" type="button" onclick="modal_purchase_save();">
                    <i class="fa fa-check"></i> Salva
                </button>
            </div>
        </div>
    </div>
    <h3>Commesse</h3>
    <div>
        Motivo - Commessa - Importo
    </div>
    <h3>Rimborsi</h3>
    <div>
        Motivo - A chi - Importo
    </div>
</div>



