@model Job.WebMvc.Models.Person.PersonEditModalModel
<div id="modalMainDialog" class="w3-modal">
    <div class="w3-modal-content">
        <header class="w3-container w3-teal">
            <span onclick="close_ModalMainDialog()" class="w3-closebtn">&times;</span>
            <h4><span id="modalMainDialogTitle"></span></h4>
        </header>
        <div class="w3-container" style="padding-top:6px;">
            <input type="hidden" value="@Html.Raw(Model.People.PeopleId)" id="dlgpeopleeditmodalpeopleid" name="dlgpeopleeditmodalpeopleid" />
            <div class="w3-row" style="padding-top:4px;">
                <label style="min-width:130px;">Codice</label> @Html.Raw(Model.People.PeopleId) - @Html.TextBox("dlgpeopleeditmodalcode", Model.People.Code, new { @class = "z-inputField" })
            </div>
            <div class="w3-row" style="padding-top:4px;">
                <label style="min-width:130px;">Cognome</label> @Html.TextBox("dlgpeopleeditmodallastname", Model.People.LastName, new { @class = "z-inputField" })
            </div>
            <div class="w3-row" style="padding-top:4px;">
                <label style="min-width:130px;">Nome</label> @Html.TextBox("dlgpeopleeditmodalfisrtname", Model.People.FirstName, new { @class = "z-inputField" })
            </div>
            <div class="w3-row" style="padding-top:4px;">
                <label style="min-width:130px;">Società</label> @Html.TextBox("dlgpeopleeditmodalcompany", Model.People.CompanyName, new { @class = "z-inputField" })
            </div>
            <div class="w3-row" style="padding-top:4px;">
                <label style="min-width:130px;">Utente</label> @Html.CheckBox("dlgpeopleeditmodalidentitydefault", Model.People.IdentityDefault, new { @class = "z-inputField" }) @Html.DropDownList("dlgpeopleeditmodalidentity", Model.DDLAppUsers, new { @class = "z-inputField" })
            </div>
            <div class="w3-row" style="padding-top:4px;">
                <label style="min-width:130px;">Attivo</label>  @Html.CheckBox("dlgpeopleeditmodalactivestate", Model.People.ActiveState, new { @class = "z-inputField" })
            </div>
            <div class="w3-row" style="padding-top:4px;">
                <label style="min-width:130px;">Macchina</label> @Html.TextBox("dlgpeopleeditmodalcarplate", Model.People.CarPlate, new { @class = "z-inputField", @style="width:100px;" }) @Html.TextBox("dlgpeopleeditmodalcardescription", Model.People.CarDescription, new { @class = "z-inputField"}) € @Html.TextBox("dlgpeopleeditmodalcarkmcost", Model.People.CarKmCost, new { @class = "z-inputField", @style = "width:80px;" }) 
            </div>
        </div>
        <footer class="w3-container w3-border-top w3-light-grey" style="margin-top:12px;padding-top:6px;padding-bottom:12px;">
            <button onclick="delete_ModalMainDialog();" type="button" class="w3-left w3-btn w3-red">Cancella</button>
            <button onclick="save_ModalMainDialog();" type="button" class="w3-right w3-btn w3-green" style="margin-left:24px;">Salva</button>
            <button onclick="close_ModalMainDialog();" type="button" class="w3-right w3-btn w3-yellow">Annulla</button>
        </footer>
    </div>
</div>
<script type="text/javascript">
    function open_ModalMainDialog() {
        $('#modalMainDialogTitle').html('Modifica dati della persona');
        document.getElementById('modalMainDialog').style.display = 'block';
    }
    function close_ModalMainDialog() {
        document.getElementById('modalMainDialog').style.display = 'none';
        $('#modal-placeholder').empty();
    }
    function save_ModalMainDialog() {
        var sendData = new Object();
        sendData.Operation = "Update";
        sendData.PeopleId = $('#dlgpeopleeditmodalpeopleid').val();
        sendData.ActiveState = $('#dlgpeopleeditmodalactivestate').val();
        sendData.Code = $('#dlgpeopleeditmodalcode').val();
        sendData.LastName = $('#dlgpeopleeditmodallastname').val();
        sendData.FirstName = $('#dlgpeopleeditmodalfisrtname').val();
        sendData.CompanyName = $('#dlgpeopleeditmodalcompany').val();
        sendData.IdentityDefault = $('#dlgpeopleeditmodalidentitydefault').val();
        sendData.IdentityId = $('#dlgpeopleeditmodalidentity').val();
        sendData.CarPlate = $('#dlgpeopleeditmodalcarplate').val();
        sendData.CarDescription = $('#dlgpeopleeditmodalcardescription').val();
        sendData.CarKmCost = $('#dlgpeopleeditmodalcarkmcost').val();
        $.ajax({
            method: "POST",
            url: '@Url.Content("~/api/PersonSvc")',
            data: JSON.stringify(sendData),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            error: function (response) {
                alert(response.responseText);
            },
            success: function (result) {
                if (result.ResultStatus == "OK") {
                    $('#dlgPeopleEditModal').modal('hide');
                } else {
                    alert(result.Error);
                    alert(result.ErrorMessage);
                }
            }
        });
    }
    function delete_ModalMainDialog() {
        alert('Non serve a nulla...ma vedremo!');
    }
    open_ModalMainDialog();
</script>