@model Job.WebMvc.Models.Person.PersonEditModalModel
<script type="text/javascript">
    $(function () {
        $('#dlgPeopleEditModal').modal({
            backdrop: true,
            keyboard: true,
            show: true
        });
        $('#dlgPeopleEditModal').on('hidden.bs.modal', function () {
            $('#modal-placeholder').empty();
        })
    });
    function dlgpeopleeditmodal_save() {
        var sendData = new Object();
        sendData.Operation = "Update";
        sendData.PeopleId = $('#dlgpeopleeditmodalpeopleid').val();
        sendData.ActiveState = $('#dlgpeopleeditmodalactivestate').val();
        sendData.Code = $('#dlgpeopleeditmodalcode').val();
        sendData.LastName = $('#dlgpeopleeditmodallastname').val();
        sendData.FirstName = $('#dlgpeopleeditmodalfisrtname').val();
        sendData.CompanyName = $('#dlgpeopleeditmodalcompany').val();
        sendData.IdentityDefault = $('#dlgpeopleeditmodalidentitydefault').val();
        sendData.IdentityId = $('#dlgpeopleeditmodalidentity').val();
        sendData.CarPlate = $('#dlgpeopleeditmodalcarplate').val();
        sendData.CarDescription = $('#dlgpeopleeditmodalcardescription').val();
        sendData.CarKmCost = $('#dlgpeopleeditmodalcarkmcost').val();
        $.ajax({
            method: "POST",
            url: '@Url.Content("~/api/PersonSvc")',
            data: JSON.stringify(sendData),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            error: function (response) {
                alert(response.responseText);
            },
            success: function (result) {
                if (result.ResultStatus == "OK")
                {
                    $('#dlgPeopleEditModal').modal('hide');
                } else {
                    alert(result.Error);
                    alert(result.ErrorMessage);
                }
            }
        });
    }
    function dlgpeopleeditmodal_delete() {

    }
</script>
<div id="dlgPeopleEditModal" class="modal fade" role="dialog">
    <div class="modal-header">
        Creazione/Modifica commessa
    </div>
    <div class="modal-body">
        <input type="hidden" value="@Html.Raw(Model.People.PeopleId)" id="dlgpeopleeditmodalpeopleid" name="dlgpeopleeditmodalpeopleid" />
        <table>
            <tr><td>Codice</td><td><span>@Html.Raw(Model.People.PeopleId)</span> @Html.CheckBox("dlgpeopleeditmodalactivestate", Model.People.ActiveState) @Html.TextBox("dlgpeopleeditmodalcode", Model.People.Code)</td></tr>
            <tr><td>Cognome</td><td>@Html.TextBox("dlgpeopleeditmodallastname", Model.People.LastName)</td></tr>
            <tr><td>Nome</td><td>@Html.TextBox("dlgpeopleeditmodalfisrtname", Model.People.FirstName)</td></tr>
            <tr><td>Società</td><td>@Html.TextBox("dlgpeopleeditmodalcompany", Model.People.CompanyName)</td></tr>
            <tr><td>Utente</td><td>@Html.CheckBox("dlgpeopleeditmodalidentitydefault", Model.People.IdentityDefault) @Html.DropDownList("dlgpeopleeditmodalidentity", Model.DDLAppUsers)</td></tr>
            <tr>
                <td colspan="2">
                    <table>
                        <tr><td colspan="3">Macchina per rimborso (Trga - Descrizione - Costo a Km)</td></tr>
                        <tr><td>@Html.TextBox("dlgpeopleeditmodalcarplate", Model.People.CarPlate)</td><td>@Html.TextBox("dlgpeopleeditmodalcardescription", Model.People.CarDescription)</td><td>€ @Html.TextBox("dlgpeopleeditmodalcarkmcost", Model.People.CarKmCost)</td></tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
    <div class="modal-footer">
        <div style="float:left;">
            <div class="btn-group">
                <button class="btn btn-warning" type="button" onclick="dlgpeopleeditmodal_delete();">
                    <i class=" fa fa-times">
                    </i> Delete
                </button>
            </div>
        </div>
        <div class="btn-group">
            <button class="btn btn-danger" type="button" data-dismiss="modal">
                <i class="fa fa-times"></i> Annulla
            </button>
            <button class="btn btn-success" id="dlgpeopleeditmodal_confirm" type="button" onclick="dlgpeopleeditmodal_save();">
                <i class="fa fa-check"></i> Salva
            </button>
        </div>
    </div>
</div>